<p>Dear [$TO_FULL_NAME$],</p>
<br/>
<p>The following RFP was reviewed by your rate reviewer. The rates will be transferred to IHG RFP and made available to the account for bid processing.</p>
<br/>
<TABLE BORDER="5"    WIDTH="90%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      <TH>Reviewer Name</TH>
      <TH>RFP Name</TH>
	  <TH>Account Name</TH>
      <TH>WWW Due Date</TH>
	  <TH>Final Submit User/Timestamp</TH>	  
	  <TH>Comments</TH>
    </TR>
   <TR ALIGN="CENTER">
      <TD>[$REVIEWER_NAME$]</TD>
      <TD>[$RFP_TITLE_TEXT$]</TD>
	  <TD>[$RATE_CATEGORY_CD$]</TD>
	  <TD>[$RFP_DUE_DATE$]</TD>
	  <TD>[$FINAL_REVIEW_DATE$]</TD>
	  <TD>[$REVIEWER_COMMENTS$]</TD>  
   </TR>
</TABLE>
<br/>

<p>As you progress through the RFP process, remember to base negotiations on your established Wish Want Walk rates to ensure you have a greater chance to achieve market appropriate rates.</p>

<p>If you have questions regarding this communication, please contact the RFP Help Desk at <a href="mailto:rfp.helpdesk@ihg.com">rfp.helpdesk@ihg.com</a>.</p>
<br/>
<p>Thank you,</p>
<p>Worldwide Sales - Business Travel Team</p>