<p>Dear [$MNEMONIC_CD$],</p>
<br/>
<p>Your rate reviewer has returned the following RFP for action. Please update the Wish Want Walk rate grid based on their recommendations below and resubmit for review.</p> 
<br/>
<TABLE BORDER="5"    WIDTH="90%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      <TH>Reviewer Name</TH>
      <TH>RFP Name</TH>
	  <TH>Account Name</TH>
      <TH>WWW Due Date</TH>
	  <TH>Final Submit User/Timestamp</TH>	  
	  <TH>Reviewer email address</TH>
	  <TH>Comments</TH>
    </TR>
   <TR ALIGN="CENTER">
      <TD>[$REVIEWER_NAME$]</TD>
      <TD>[$RFP_TITLE_TEXT$]</TD>
	  <TD>[$RATE_CATEGORY_CD$]</TD>
	  <TD>[$RFP_DUE_DATE$]</TD>
	  <TD>[$FINAL_REVIEW_DATE$]</TD>
	  <TD>[$REVIEWER_EMAIL$]</TD>
	  <TD>[$REVIEWER_COMMENTS$]</TD>  
   </TR>
</TABLE>
<br/>
<p>For additional questions please contact the rate reviewer listed.</p>
<br/>
<p>Thank you,</p>
<p>Worldwide Sales - Business Travel Team</p>