.aui span.wrapper_span {
  width: 174px; }
.aui .updBottons {
  text-align: right;
  padding-right: 124px;
  margin-bottom: -28px;
  margin-top: -10px; }
.aui .upd2Bottons {
  text-align: right;
  padding-right: 48px;
  margin-bottom: -28px;
  margin-top: -10px; }

