/** NEW STYLES TO MAKE THIS PAGE WORK - NEED TO BE ADDED TO BS THEME **/
.aui .tiny_text, .aui .no_change {
  color: #979696;
  font-size: 10px; }
.aui .no_change {
  font-style: italic; }
.aui .refresh_color {
  padding: 0 5px 0 0;
  vertical-align: middle; }
.aui .translation_table {
  width: 900px;
  margin: 20px 0 10px 0px;
  background-color: #fff; }
.aui .translation_table tr td {
  border: 1px solid #ccc;
  padding: 3px; }
.aui .translation_table tr td.translation_table_header {
  font-weight: bold;
  text-align: center; }
.aui .translation_table tr td.table_center {
  text-align: center; }
.aui .translation_table a, .aui .translation_table a:hover {
  color: #e15f26;
  text-decoration: none; }
.aui .table_hidden_row {
  display: none; }
.aui .trans_text {
  width: 700px;
  margin: 0 0 0 90px;
  height: 80px; }
.aui .hidden_images_cont {
  width: 650px;
  margin: 0 0 0 90px;
  border: 1px solid #CCC; }
.aui .hidden_images_left, .aui .hidden_images_right {
  float: left; }
.aui .hidden_images_left {
  width: 200px;
  padding: 10px; }
.aui .inner_image_container {
  border: 1px solid lightgray;
  padding: 10px; }
.aui .hidden_images_right {
  padding-top: 95px;
  padding-left: 10px; }
.aui .hidden_trans_label {
  font-style: italic;
  margin: 20px 0 0 90px; }
.aui .hidden_trans_label_left {
  font-style: italic;
  margin: 20px 0 0 0; }
.aui .hidden_attach {
  border: 1px solid #CCC; }
.aui .center_help_text {
  text-align: center;
  font-style: italic; }
.aui tr.tr_hidden_titles td {
  background-color: #d1d1d1;
  font-weight: bold;
  color: #000;
  font-size: 12px;
  font-family: Arial, sans-serif;
  width: 1px; }
.aui table.hidden_attach_table {
  width: 100%; }
.aui .hidden_add_attachlink_icon {
  text-align: center; }
.aui table.hidden_attach_table tr.attch_connected_row_btm td {
  border-top: none; }
.aui .tiny_text {
  color: #979696;
  font-size: 10px; }
.aui .align_cell_middle {
  text-align: center; }
.aui .hidden_new_file {
  display: none; }
.aui .trmultis {
  width: 100px; }
.aui .tr_save_btn {
  margin: 5px 0 20px 90px;
  float: left; }
.aui .tr_cancel_btn {
  float: left;
  margin: 5px 0 20px 0; }

