/* IHG Brand Specific CSS created by Kyle LeBlanc - 9/13/2013 */
@import "compass";
.aui{
	a {
		color: #D71920;
	}
	a:hover {
		color: #D71920;
	}
	[class^="icon-"]:before,
	[class*=" icon-"]:before{
		content: "";
	}
	[class^="icon-"],
	[class*=" icon-"]{
		display: inline-block;
	}
	#searchstandardaccordion [class*="span"]{margin-left:0}
	.columns-2 .portlet-column.portlet-column-first.span6.yui3-dd-drop{width:500px !important;float:left;}
	.columns-2 .portlet-column.portlet-column-last.span6.yui3-dd-drop{float: left;margin-left: 0 !important;width: 460px !important;}
	.well.well-small ul{margin:0 0 9px 25px}
	
	#navigation .ui-menu .ui-menu-item {
		background-color: #d96932;
	}
	#navigation .ui-menu.ui-widget-content .ui-state-focus,#navigation .ui-menu.ui-widget-content .ui-state-active, #navigation .ui-menu .active > a, #navigation .ui-menu .ui-menu-item a:hover,#navigation .ui-menu .active a:focus, #navigation .ui-menu .ui-menu-item:hover {
		background-color: #E78715;
	}
	#navigation .ui-menu .ui-menu-item .ui-menu .ui-menu-item a:hover, #navigation .ui-menu .ui-menu-item .ui-menu .ui-menu-item a:focus, #navigation .ui-menu .ui-menu-item .ui-menu .ui-menu-item:hover > a, #navigation .ui-menu .ui-menu-item .ui-menu.ui-widget-content .ui-state-active {
		background-color: #C8BA8C;
		background-image: linear-gradient(to bottom, #E78715, #d96932);
	}
	.btn-primary, .btn-primary:focus {
		background-color: #d96932;
		background-image: -moz-linear-gradient(top, #E78715, #d96932);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E78715), to(#d96932));
		background-image: -webkit-linear-gradient(top, #E78715, #d96932);
		background-image: -o-linear-gradient(top, #E78715, #d96932);
		background-image: linear-gradient(to bottom, #E78715, #d96932);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffE78715', endColorstr='#ffd96932', GradientType=0);
		*background-color: #d96932;
	  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
	}
	.btn-primary:hover,
	.btn-primary:active,
	.btn-primary.active,
	.btn-primary.disabled,
	.btn-primary[disabled] {
	  color: #ffffff;
	  background-color: #d96932;
	  *background-color: #d96932;
	}
	.btn-primary:active,
	.btn-primary.active {
	  background-color: #d96932 \9;
	}

	.btn-warning {
	  background-color: #f09433;
	  background-image: -moz-linear-gradient(top, #f5a34d, #e87d0d);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5a34d), to(#e87d0d));
	  background-image: -webkit-linear-gradient(top, #f5a34d, #e87d0d);
	  background-image: -o-linear-gradient(top, #f5a34d, #e87d0d);
	  background-image: linear-gradient(to bottom, #f5a34d, #e87d0d); 
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5a34d', endColorstr='#ffe87d0d', GradientType=0);
	  *background-color: #e87d0d;  
	}
	.btn-warning:hover,
	.btn-warning:active,
	.btn-warning.active,
	.btn-warning.disabled,
	.btn-warning[disabled] {
	  color: #ffffff;
	  background-color: #e87d0d;
	  *background-color: #d0700c;
	}
	.btn-warning:active,
	.btn-warning.active {
	  background-color: #b8630a \9;
	}

	.btn-danger {

	  background-color: #da4f49;
	  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);  
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	  *background-color: #bd362f; 

	  
	}

	.btn-danger:hover,
	.btn-danger:active,
	.btn-danger.active,
	.btn-danger.disabled,
	.btn-danger[disabled] {
	  color: #ffffff;
	  background-color: #bd362f;
	  *background-color: #a9302a;
	}
	.btn-danger:active,
	.btn-danger.active {
	  background-color: #942a25 \9;
	}

	.btn-success {
	  background-color: #5bb75b;
	  background-image: -moz-linear-gradient(top, #62c462, #51a351);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	  background-image: -o-linear-gradient(top, #62c462, #51a351);
	  background-image: linear-gradient(to bottom, #62c462, #51a351);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	  *background-color: #51a351;
		
	  
	}

	.btn-success:hover,
	.btn-success:active,
	.btn-success.active,
	.btn-success.disabled,
	.btn-success[disabled] {
	  color: #ffffff;
	  background-color: #51a351;
	  *background-color: #499249;
	}
	.btn-success:active,
	.btn-success.active {
	  background-color: #408140 \9;
	}

	.btn-info {
	  background-color: #49afcd;
	  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	  *background-color: #2f96b4;

	}
	.btn-info:hover,
	.btn-info:active,
	.btn-info.active,
	.btn-info.disabled,
	.btn-info[disabled] {
	  color: #ffffff;
	  background-color: #2f96b4;
	  *background-color: #2a85a0;
	}
	.btn-info:active,
	.btn-info.active {
	  background-color: #24748c \9;
	}


	.btn-inverse {
	  background-color: #363636;
	  background-image: -moz-linear-gradient(top, #444444, #222222);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
	  background-image: -webkit-linear-gradient(top, #444444, #222222);
	  background-image: -o-linear-gradient(top, #444444, #222222);
	  background-image: linear-gradient(to bottom, #444444, #222222);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0); 
	  *background-color: #222222;

	}

	.btn-inverse:hover,
	.btn-inverse:active,
	.btn-inverse.active,
	.btn-inverse.disabled,
	.btn-inverse[disabled] {
	  color: #ffffff;
	  background-color: #222222;
	  *background-color: #151515;
	}
	.btn-inverse:active,
	.btn-inverse.active {
	  background-color: #080808 \9;
	}


	.btn-link {
	  color: #3a75c4;
	}
	.btn-link:hover {
	  color: #295289;
	}


	.banner_title{
		background: none repeat scroll 0 0 #53534d;
		border-top: 6px solid #d96932;
	}

	.ui-widget-header {
		background: none repeat scroll 0 0 #54544e;
	}

	h3.ui-accordion-header.ui-state-default,h3.ui-accordion-header.ui-state-hover, h3.ui-accordion-header.ui-state-focus {
		color: #d96932;
	}

	.ui-icon-triangle-1-s {
		background: url("../images/chevron.png") no-repeat scroll -192px -32px transparent !important;
	}
	.ui-icon-triangle-1-e {
		background: url("../images/chevron.png") no-repeat scroll -192px 0 transparent !important;
	}

	.ui-dialog-titlebar-close.ui-state-default, .ui-dialog-titlebar-close.ui-state-hover, .ui-dialog-titlebar-close.ui-state-focus {background: none; border:0px;}

	.label-info, .badge-info, .hotel_lifecycle_attr {
		background-color: #317023 !important;
	}
}