Dear [$TO_NAME$]: <br/><br/>

New conversations and comments have been posted on the IHG Meeting Point community page. Please see all activities below:<br/><br/>

[$MSG_BODY$]


<br/>
Visit IHG Meeting Point today to reply and share more.<br/><br/>

Warm Regards,<br/>
IHG Meeting Point Admin team!