/* CSS Document */
/* Reset Styles */
@import "compass";
 
.aui{
html {
    margin: 0;
    padding: 0;
    border: 0;
}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}

body {
    line-height: 1.5
}

table {
    border-collapse: separate;
    border-spacing: 0;
}
.row{margin-left:0}
.alert.alert-info{display:none}

select{width:auto;height:auto;font-size:13px;padding:0}
h1, h2, h3{line-height:normal}
input, textarea, .uneditable-input{width:auto;font-size:13px;box-shadow:none}

.row-fluid [class*="span"]{
	margin-left:0;
	min-height:normal;
	width:auto
}
[class*="span"]{margin-left:0}

caption, th, td {
    text-align: left;
    font-weight: normal;
    float: none !important;
}

table, th, td {
    vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

blockquote, q {
    quotes: "" "";
}

a img {
    border: none;
}:focus, .focus {
    outline: 0;
}

.width100 {
    width: 100%
}
.width50pr{
    width: 50%;
}
.width25pr{
    width: 24.5%;
}
.w180 {
    width: 180px;
}

.w390 {
    width: 390px
}

.w80{
	width: 80px;
}

.w250{
	width: 250px;
}

.w230{
	width: 230px;
}

.fLeft {
    float: left
}

.fRight {
    float: right
}

.cLeft {
    clear: left
}

.cRight {
    clear: right
}

.cBoth {
    clear: both
}

.mTop0 {
    margin-top: 0
}

.mTop5 {
    margin-top: 5px;
}

.mTop10 {
    margin-top: 10px
}

.mTop12{
    margin-top: 12px;
}

.mTop15{
    margin-top: 15px
}

.mTop20 {
    margin-top: 20px
}

.mTop25 {
    margin-top: 25px
}

.mTop30{
    margin-top: 30px;
}

.mTop50{
	margin-top: 50px;
}

.mTop40{
	margin-top: 40px;
}

.mBottom25 {
    margin-bottom: 25px
}

.mBottom10{
    margin-bottom: 10px;
}

.txt13 {
    font: normal 13px Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}

.txt13b {
    font: bold 13px Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}

.txt14 {
    font: normal 14px Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}

.txt14b {
    font: bold 14px Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}

.txt15 {
    font: normal 15px Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}

.txt15b {
    font: bold 15px Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}

.txt21 {
    font: normal 21px "Calibri", Arial, Helvetica, sans-serif;
    line-height: 1.2em;
}

.txt21b {
    font: bold 21px "Calibri", Arial, Helvetica, sans-serif;
    line-height: 1.2em;
}

a {
    color: #d21d8e;
    text-decoration: none;
}

.pRelative {
    position: relative;
}


#wrapper{
    width: 920px;
    margin: 0 auto;
	padding:0;
}

.leftpanel {
    float: left;
    width: 600px;
    overflow: hidden;
}

.rightpanel {
    float: left;
    width: 240px;
    margin-left: 20px;
    overflow: hidden;
}

.left-right-panel {
    width: 100%;
    overflow: hidden;
    margin: 0 auto 20px auto;
}

.logoContainer {
    display: block;
    float: left;
    margin: 0 0 25px 35px;
    padding: 10px 0 0;
    width: 645px;
}

nav {
    width: 100%;
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    width: auto;
	display: block;
}


 /* IE7 only */
nav ul li {
    display: block;
    float: left;
    list-style: none;
}

nav ul li a {
    display: block;
}


a.likes, span.likes, span.comments {
    font-size: 1em;
    line-height: 1.6em;
    display: inline-block;
    padding: 4px 10px 4px 25px;
    color: #521c46;
    margin: 0 8px 1em 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

a.likes, span.likes {
    background: #e5e5e5 url(../images/social-images/like-icon.png) no-repeat 5px 4px;
    text-decoration: none;
}

span.comments {
    background: #e5e5e5 url(../images/sprite-global.png) no-repeat -295px 8px;
}

span + span.likes, span.likes + span.comments {
    float: left;
}

.content-container, .content-container1 {
    width: 850px;
    background-color: #fff;
    border-radius: 0 10px 0 0;
    float: left;
    padding: 35px;
    margin-top: 20px
}

.content-container1 {
    border-radius: 10px 10px 0 0;
    margin-top: 0
}



a.ui-selectmenu {
    background-color: #c40087;
    color: #fff;
    border-radius: 10px;
    padding: 3px 0;
    position: relative;
    float: left;
    border: 0
}

a.ui-selectmenu:focus, a.ui-selectmenu.focus, a.ui-selectmenu:hover, a.ui-state-active {
    text-decoration: none;
}

a.ui-selectmenu span.ui-selectmenu-icon {
    background: url(../images/form-images/select-arrow-white.png) no-repeat;
    width: 10px;
    height: 6px
}

.form-select-box a.ui-selectmenu {
    background-color: #fff;
    color: #333333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    float: left;
    margin: -2px 0 0 0
}

.form-select-box a.ui-selectmenu:focus, .form-select-box a.ui-selectmenu.focus, .form-select-box a.ui-selectmenu:hover, .form-select-box a.ui-state-active {
    text-decoration: none;
}

.form-select-box a.ui-selectmenu span.ui-selectmenu-icon {
    background: url(../images/form-images/select-arrow-pink.png) no-repeat;
    width: 10px;
    height: 6px;
    margin-top: -1px;
}

.form-select-box .ui-selectmenu-status {
    font: normal 1em / 1.3em Arial, Helvetica, sans-serif;
    padding: 0.3em 1em;
    margin-right: 5px
}

.ui-selectmenu {
    display: block;
    position: relative;
    height: 2em;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.ui-selectmenu-icon {
    position: absolute;
    right: 7px;
    margin-top: -2px;
    top: 16px;
    width: 10px;
    height: 6px;
}



.ui-selectmenu {
    display: block;
    position: relative;
    height: 2em;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    visibility: hidden;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    background-color: #fff
}

.ui-selectmenu-open {
    visibility: visible;
}

.ui-selectmenu-menu li {
    padding: 0;
    margin: 0;
    display: block;
    padding: 0 3px;
    font-size: 13px;
    background-color: #fff
}

.ui-selectmenu-menu li:hover {
    background-color: #fff;
    border: 0
}

.ui-selectmenu-menu li a, .ui-selectmenu-status {
    line-height: 1.2em;
    display: block;
    padding: .3em 1em;
    outline: none;
    text-decoration: none;
    font-size: 13px;
}

.ui-selectmenu-menu li a {
    color: #333333;
    font-weight: normal
}

#sorted-by-teamspaces-menu li.ui-state-hover:hover {
    background-color: #fff
}

.ui-selectmenu-status {
    text-align: left;
    font-size: 15px;
    font-weight: normal
}

.ui-selectmenu-menu li a:hover {
    text-decoration: underline
}

ul.ui-selectmenu-menu {
    z-index: 10;
    margin-top: 5px;
}

.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
    position: absolute;
    top: 1em;
    margin-top: -8px;
    left: 0;
}

ul#sort-by-post-menu .ui-corner-bottom, ul#sort-by-post-menu.ui-corner-bottom {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px
}

a.ui-selectmenu {
    background-color: #c40087;
    color: #fff;
    border-radius: 10px;
    padding: 3px 0;
    position: relative;
    float: left
}

a.ui-selectmenu span.ui-selectmenu-icon {
    background: url(../images/form-images/select-arrow-white.png) no-repeat;
    width: 10px;
    height: 6px
}

/* a.ui-state-active span.ui-selectmenu-icon,
 a.ui-selectmenu:hover span.ui-selectmenu-icon,
 a.ui-selectmenu:focus span.ui-selectmenu-icon,
 a.ui-selectmenu.focus span.ui-selectmenu-icon {
 background:url(../images/form-images/select-arrow-white.png);
 }*/
.form-select-box a.ui-selectmenu {
    background-color: #fff;
    color: #333333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    float: left;
    margin: -2px 0 0 0
}

.form-select-box a.ui-selectmenu span.ui-selectmenu-icon {
    background: url(../images/form-images/select-arrow-pink.png) no-repeat;
    width: 10px;
    height: 6px;
    margin-top: -1px;
}

/*.form-select-box a.ui-state-active span.ui-selectmenu-icon,
 .form-select-box a.ui-selectmenu:hover span.ui-selectmenu-icon,
 .form-select-box a.ui-selectmenu:focus span.ui-selectmenu-icon,
 .form-select-box a.ui-selectmenu.focus span.ui-selectmenu-icon {
 background:url(../images/form-images/select-arrow-pink.png) no-repeat;
 width:10px;
 height:6px
 }*/
.form-select-box .ui-selectmenu-status {
    font: normal 1em / 1.3em Arial, Helvetica, sans-serif;
    padding: 0.3em 1em;
    margin-right: 5px
}

.ui-selectmenu {
    display: block;
    position: relative;
    height: auto;
    text-decoration: none;
    overflow: visible;
    cursor: pointer;
}

.ui-selectmenu-icon {
    position: absolute;
    right: 7px;
    margin-top: -2px;
    top: 16px;
    width: 10px;
    height: 6px;
}


.ui-selectmenu {
    display: block;
    position: relative;
    height: 2em;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    visibility: hidden;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid #d6d6d6 !important;
    background-color: #fff
}

.ui-selectmenu-open {
    visibility: visible;
}

.ui-selectmenu-menu li {
    padding: 0;
    margin: 0;
    display: block;
    padding: 0 3px;
    font-size: 13px;
    background-color: #fff
}

.ui-selectmenu-menu li:hover {
    background-color: #fff
}

.ui-selectmenu-menu li a, .ui-selectmenu-status {
    line-height: 1.2em;
    display: block;
    padding: .3em 1em;
    outline: none;
    text-decoration: none;
    font-size: 13px;
}

.ui-selectmenu-menu li a {
    color: #333333;
    font-weight: normal
}

#sorted-by-teamspaces-menu li.ui-state-hover:hover {
    background-color: #fff
}

.ui-selectmenu-status {
    text-align: left;
    font-size: 15px;
    font-weight: normal
}

.ui-selectmenu-menu li a:hover {
    text-decoration: underline
}

ul.ui-selectmenu-menu {
    z-index: 10;
}

.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
    position: absolute;
    top: 1em;
    margin-top: -8px;
    left: 0;
}



.rate_grid_info_data.fLeft.width50pr select {
    background-color: #fff;
    cursor: auto;
    width: 335px;
}

*:focus, .focus {
    outline: 0 !important;
}
a:focus{outline: 0!important; }
.modify-pages .delete-tab { display:none}

#reviewer_dashboard .www_table thead th , #reviewer_todo_table_wrapper table.www_table thead th {
    border-radius: 5px 5px 0 0;
    border-right: 1px solid #fff;
    font-weight: bold;
    padding: 4px 0;
    text-align: center;
	background-color: #666363;
	color:#fff;
}

#reviewer_dashboard .www_table tbody, #reviewer_todo_table_wrapper table.www_table tbody {
    background:  #ebebeb;
}
.reviewer_todo_table{ width:100% !important}
#reviewer_todo_table, .reviewer_todo_table {
padding: 0 4px 4px;
}

#reviewer_dashboard .www_table tr td:first-child, #reviewer_todo_table_wrapper table.www_table tr td:first-child {
    border-left: medium none !important;
}
#reviewer_dashboard .www_table tr td,  #reviewer_todo_table_wrapper table tr td{
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    font-weight: bold;
    text-align: center;
}

.www_table thead th:last-child, #reviewer_todo_table_wrapper table.www_table thead th:last-child {
    border-right: medium none !important;
}
#reviewer_todo_table_wrapper table.www_table thead th, #reviewer_todo_table_wrapper table.www_table thead td {
    border-bottom: 0;}

#reviewer_dashboard .www_table tr td a,  #reviewer_todo_table_wrapper table tr td a{ text-decoration:underline ; color:#4F81BD !important}
#reviewer_dashboard .www_table tr:nth-child(even),  #reviewer_todo_table_wrapper table tr:nth-child(even){background-color:#e9ecf4}
#reviewer_dashboard .www_table tr:nth-child(odd),  #reviewer_todo_table_wrapper table tr:nth-child(odd){background-color:#cfd8e7}
.content-container h1 {
    display: inline-block;
    float: left;
}

.content-container h2 {
    display: inline-block;
    float: right;
}
#reviewer_dashbaord .btn, #kad_dashbaord .btn, #super_dashbaord .btn	{ 
	background: none repeat scroll 0 0 #8c2375;
    border: medium none;
    border-radius: 0px;
    color: #fff;
    font-size: 11px;
    padding: 2px 20px;
    text-shadow: none;
	margin-left: 8px;
	margin: 1px 0 6px 7px;
}
.portlet-borderless-bar .portlet-actions .lfr-icon-menu a.dropdown-toggle{
	background: url(../images/portlet/options_borderless.png) no-repeat 0 0;
	height:16px;
	width:16px
	}
}  /*aui class ends*/
.aui.ie7 body {
    overflow: hidden
}
.aui.ie7 nav ul {
    margin: 0;
    padding: 0;
    width: auto;
    float: left;
    position: relative;
    display: block;
    margin: -19px 0 0 16px;
}
.aui.ie7 .content-container DIV.portlet-column {
    width: auto
}
.aui.ie7 .ui-selectmenu-icon {
    position: absolute;
    right: 7px;
    margin-top: -2px;
    top: 22px !important;
    width: 10px;
    height: 6px;
    left: auto !important;
}

