.aui {
span.wrapper_span {
    width: 174px;
}

.updBottons {
    text-align: right;
    padding-right: 124px;
    margin-bottom: -28px;
    margin-top: -10px;
}

.upd2Bottons {
    text-align: right;
    padding-right: 48px;
    margin-bottom: -28px;
    margin-top: -10px;
}
}