New comment posted
A new comment has been added to the [$discussion$] post on the [$group_name$] wall.

[$commenter$] said:
"[$message$]"

To view this comment, click the link below:
[$link$]

Thank you,
[$email_admin_name$]