The below comment has been added to the [$discussion$] post on the HeartBeat Initiatives page. You are receiving this email notification as you have subscribed to receive updates on this post.<br/>
<br/>
[$commenter$] said: "[$message$]"<br/>
<br/>
To view this comment on the HeartBeat Initiatives page, click the following link: [$link$]<br/>
<br/>
Thank you,<br/>
[$email_admin_name$]