<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="1">
    <Properties>
        <Property name="log-path">/apps/merlin/logs/global-hook</Property>
        <Property name="archive">${log-path}/archive</Property>
    </Properties>

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <RollingFile name="File-Appender" fileName="${log-path}/global-hook.log" 
        filePattern="${log-path}/global-hook-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <!-- set file size policy -->
	        <Policies>
	        	<TimeBasedTriggeringPolicy />
	            <SizeBasedTriggeringPolicy size="200 MB" />
	        </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.ihg" level="DEBUG">
            <AppenderRef ref="File-Appender" level="DEBUG"/>
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>