@charset "utf-8";
.aui {
  /* .winning_metrics table tr td:hover {
  		cursor:pointer;} */
  /* modified css */ }
  .aui .content_wrapper {
    width: 920px;
    margin: 0 auto;
    background-color: #e5e5e5;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .aui .left_side_content {
    float: left;
    width: 637px;
    padding: 0px;
    margin: 0;
    float: left; }
  .aui .right_side_content {
    width: 283px;
    float: right; }
  .aui .content_top {
    float: left;
    padding: 20px 15px 35px 35px;
    background-color: #fff;
    width: 870px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .aui .content_top_left {
    float: left;
    width: 565px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    font-size: 14px; }
  .aui .content_top_left h1 {
    color: #752864;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 15px; }
  .aui .content_top_right {
    width: 250px;
    height: 87px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    line-height: 16px;
    font-size: 14px;
    color: #fff;
    background: url(../images/hpdd/content_top_left_bg.png) 0 0 no-repeat;
    float: left;
    margin: 10px 0 0 55px; }
  .aui .content_top_right p {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    line-height: 15px;
    font-size: 14px;
    color: #fff;
    padding: 15px 0 0 10px;
    width: 145px; }
  .aui .content_hotel_info {
    background-color: #c5c5c5;
    float: left;
    width: 850px;
    padding: 0px 35px; }
  .aui .content_hotel_info_hotel {
    background: url(../images/hpdd/hotel_icon_top.png) center left no-repeat #e5e5e5;
    float: left;
    width: 423px;
    margin: 8px 0;
    float: left;
    height: auto;
    border: 1px solid #aeaeae;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    line-height: 13px; }
  .aui .content_hotel_info_hotel p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    margin: 4px 0 0 50px; }
  .aui .content_hotel_info_hotel span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 0 50px; }
  .aui .content_hotel_search_main {
    background-color: none;
    width: 315px;
    margin: 8px 0;
    height: 35px;
    float: right; }
  .aui .content_hotel_search {
    background-color: #e5e5e5;
    float: left;
    width: 316px;
    height: 33px;
    border-radius: 10px;
    border: 1px solid #aeaeae; }
  .aui .content_hotel_search_input {
    background-color: transparent;
    color: #707372;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 0 0 0 10px;
    border: none;
    line-height: 40px;
    height: 40px;
    width: 315px;
    border-radius: 10px; }
  .aui .content_hotel_search_button {
    background: url(../images/hpdd/content_top_search_arrow.png) top left no-repeat #d21d8e;
    color: #fff;
    float: left;
    border: none;
    width: 35px;
    height: 35px;
    margin: 0 0 0 7px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
  .aui .main_content_main {
    float: left;
    padding: 0px;
    width: 920px;
    background: none; }
  .aui .winning_metrics {
    float: left;
    width: 602px;
    height: auto;
    padding: 0px 0 0 32px;
    margin: 0;
    float: left; }
  .aui .border_right {
    background: url(../images/hpdd/content_2px_border_bg.gif) top right repeat-y; }
  .aui .border_bottom {
    background: url(../images/hpdd/content_2px_border_bottom_bg.gif) bottom left repeat-x; }
  .aui .key_indicator {
    height: auto; }
  .aui .winning_metrics h1 {
    color: #752864;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    line-height: 1;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px; }
  .aui .winning_metrics_icon {
    border-bottom: 1px #c5c5c5;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    width: auto; }
  .aui .winning_metrics_icon li {
    padding: 0;
    width: 55px;
    height: 68px;
    display: block;
    float: left; }
  .aui .winning_metrics_icon li a {
    padding: 0;
    width: 55px;
    height: 68px;
    display: block; }
  .aui .icon_right {
    margin: 0 4px 0 0; }
  .aui .standard {
    background: url(../images/hpdd/icons/standards.jpg) top left no-repeat; }
  .aui .loyaltyrecognition {
    background: url(../images/hpdd/icons/loyalty_recognition.jpg) top left no-repeat; }
  .aui .problemhandling {
    background: url(../images/hpdd/icons/problem_handling.jpg) top left no-repeat; }
  .aui .employeeengagement {
    background: url(../images/hpdd/icons/employee_engagement.jpg) top left no-repeat; }
  .aui .revpar {
    background: url(../images/hpdd/icons/revpar.jpg) top left no-repeat; }
  .aui .rgi {
    background: url(../images/hpdd/icons/rgi.jpg) top left no-repeat; }
  .aui .fbrevenue {
    background: url(../images/hpdd/icons/fandb_revenue.jpg) top left no-repeat; }
  .aui .tgop {
    background: url(../images/hpdd/icons/TGOP.jpg) top left no-repeat; }
  .aui .gop {
    background: url(../images/hpdd/icons/GOP.jpg) top left no-repeat; }
  .aui .heartbeat {
    background: url(../images/hpdd/icons/heartbeat.jpg) top left no-repeat; }
  .aui .growtalent {
    background: url(../images/hpdd/icons/grow_tallent.jpg) top left no-repeat; }
  .aui .guestreviews {
    background: url(../images/hpdd/icons/guest_reviews.jpg) top left no-repeat; }
  .aui .loyalty_enrolment {
    background: url(../images/hpdd/icons/loyalty_enrolment.jpg) top left no-repeat; }
  .aui .quality {
    background: url(../images/hpdd/icons/quality.jpg) top left no-repeat; }
  .aui .revenueshare {
    background: url(../images/hpdd/icons/revenue_share.jpg) top left no-repeat; }
  .aui .winning_metrics_icon_bottom {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    width: auto; }
  .aui .winning_metrics_icon_bottom li {
    background-color: #fff;
    padding: 0;
    width: 53px;
    height: 44px;
    display: block;
    float: left;
    border-bottom: solid 1px #d3d3d3;
    border-right: solid 1px #d3d3d3;
    border-left: solid 1px #d3d3d3;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }
  .aui .winning_metrics_icon_bottom li a {
    width: 53px;
    height: 44px;
    display: block;
    border-bottom: solid 1px #d3d3d3;
    border-right: solid 1px #d3d3d3;
    border-left: solid 1px #d3d3d3;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }
  .aui .status_default {
    background: url(../images/hpdd/icons/winning_metrics_status_default.png) center no-repeat; }
  .aui .status_green {
    background: url(../images/hpdd/icons/winning_metrics_status_green.png) center no-repeat; }
  .aui .status_yellow {
    background: url(../images/hpdd/icons/winning_metrics_status_yellow.png) center no-repeat; }
  .aui .status_red {
    background: url(../images/hpdd/icons/winning_metrics_status_red.png) center no-repeat; }
  .aui .winning_metrics_para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    margin: 16px 40px 3px 0; }
  .aui .winning_tools {
    width: 283px;
    height: 253px;
    float: right; }
  .aui .winning_tools h1 {
    color: #752864;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    line-height: 1;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 16px;
    margin-top: 20px; }
  .aui .winning_tools_suitcase {
    color: #fff;
    float: left;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 14px;
    font-weight: normal;
    margin-left: 15px;
    width: 230px;
    height: 128px;
    display: block;
    background-color: #d10000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
  .aui .winning_tools_suitcase_icon {
    background: url("../images/hpdd/winning_tools_suitcase_bg1.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 61px;
    margin-left: 81px;
    margin-top: 8px; }
  .aui .row-fluid .winning_tools_suitcase_span {
    margin-left: 22px;
    margin-right: 22px;
    width: 208px; }
  .aui .winning_tools_suitcase span {
    float: left;
    margin-left: 22px; }
  .aui .main_content_table {
    float: left;
    padding: 0px;
    width: 920px;
    background: none; }
  .aui .winning_metrics table {
    width: 96%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 2; }
  .aui .winning_metrics table, .aui td, .aui th {
    border-bottom: 1px solid #c5c5c5;
    border-collapse: collapse;
    padding-left: 10px;
    position: relative; }
  .aui .winning_metrics table th {
    background-color: #752864;
    color: white;
    line-height: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px; }
  .aui .winning_metrics table tr td a:hover {
    text-decoration: underline; }
  .aui .winning_metrics table tr td img:hover {
    cursor: pointer; }
  .aui .winning_metrics table tr td span {
    font-size: 11px;
    font-weight: normal; }
  .aui .winning_metrics table tr td div.tooltip {
    line-height: 1.2;
    display: none;
    z-index: 999;
    width: 210px;
    background: #fff;
    padding: 15px;
    position: absolute;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    top: 150%;
    right: -10%;
    margin-top: -17px;
    font-size: 13px;
    font-weight: normal;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
    opacity: 1; }
  .aui .winning_metrics table tr td a:hover div.tooltip {
    display: block;
    z-index: 9999; }
  .aui .obi_dashboard {
    line-height: 1;
    text-decoration: underline;
    text-align: right;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0 15px 6px 0; }
  .aui .obi_dashboard a {
    line-height: 1;
    text-decoration: underline;
    text-align: right; }
  .aui .sorted-by {
    float: right; }
  .aui .sorted-by label {
    float: left;
    font: normal 13px Arial, Helvetica, sans-serif;
    margin-top: 6px;
    margin-right: 5px; }
  .aui input.content_hotel_search_input.ac_input {
    background-color: transparent;
    background-image: none;
    border: 1px solid #aeaeae;
    color: #707372;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 33px;
    padding: 0 0 0 10px;
    width: 305px;
    height: 33px;
    border-radius: 10px; }
  .aui .portlet-column-content {
    padding: 0px; }
  .aui .edit_icon_styles {
    display: inline-flex;
    margin-left: 12px;
    position: relative;
    text-indent: 5px;
    top: -28px; }
  .aui .click-to-edit-content-text {
    position: relative;
    top: -25px;
    left: 15px;
    clear: both;
    float: left;
    width: 57px; }
  .aui .right_side_content h3.click-to-edit-content-text span a img.icon {
    top: -54px; }
  .aui .fl_left {
    float: left; }
  .aui .verbiage-style {
    font-weight: bold;
    text-align: center; }

/*aui ends*/

