#set ($brandLogo = "")
#set ($brandLink = "")
#set ($merlinLink = $uiElementMap.get("bs.merlin"))
#set ($headerTitle = $uiElementMap.get("bs.brand.standards"))
#set ($helpSupport = $uiElementMap.get("bs.help.support"))
#set ($homeLink = $uiElementMap.get("bs.nav.home"))
#set ($searchStd = $uiElementMap.get("bs.nav.search.standards"))
#set ($whatChanged = $uiElementMap.get("bs.nav.what.changed.on"))
#set ($downloadManual = $uiElementMap.get("bs.nav.download.manual"))
#set ($helpInformation = $uiElementMap.get("bs.nav.help.information"))
#set ($glossary = $uiElementMap.get("bs.nav.glossary"))
#set ($welcomeMessage = $uiElementMap.get("bs.welcome"))
#set ($logoutMessage = $uiElementMap.get("bs.logout"))
#set ($logoutModalLabel = $uiElementMap.get("bs.logout.confirmation"))
#set ($logoutModalMessage = $uiElementMap.get("bs.logout.msg"))
#set ($logoutModalSubmit = $uiElementMap.get("bs.ok"))
#set ($logoutModalCancel = $uiElementMap.get("bs.cancel"))
#if ($validator.isNotNull($chainCode))
	#set ($brandCode = $chainCode.toLowerCase())
	#set ($brandLogo = "/BSHotel-theme/images/"+$brandCode+"-bridge.jpg")
	#set ($brandCSS = "/BSBridge-theme/css/"+$brandCode+".css")
	#set ($brandLink = "bs.brnd."+$brandCode)
	#set ($brandLink = $uiElementMap.get($brandLink))
#end